* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {

    text-align: center;
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(236, 236, 236);

}

header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.centrar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
}

thead {
    width: 90%;
    height: 20px;
    background-color: rgb(6, 108, 6);
    color: white;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    width: 100px;
    height: 20px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

tbody tr {
    height: 20px;
    background-color: white;
}

tbody tr:hover {
    background-color: rgb(101, 102, 102);
    color: white;
}

#btn,
#btna,
#btnd {
    width: 100px;
    padding: 10px;
    background-color: rgb(30, 87, 186);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

#btna {
    background-color: rgb(44, 151, 5);
    margin-left: 20px;
}

#btnd {
    background-color: rgb(238, 6, 6);
    margin-left: 20px;
}